# Q2: Database: 50%

In [19]:
import pymysql

# Open database connection


# Create a database
# and create tables, which are empty initially


db = pymysql.connect(host="localhost",
                     user="ds",
                     passwd="0019cg!CG!",
                     unix_socket="/var/run/mysqld/mysqld.sock"
                     )
cursor = db.cursor()

cursor.execute("use university")

#Here I start Question 1

#1. Display the names of the courses and the term they are offered.
sql1 = """select name,term from courses"""
         

cursor.execute(sql1)
result=cursor.fetchall()
print (result)

(('Programming', 'Fall'), ('Databases', 'Winter'), ('Vision', 'Fall'), ('BigData', 'Fall'), ('DataMining', 'Spring'))

In [20]:
#2. Display the names, and terms for courses that are offered in the fall or winter terms.
sql2 = """select name,term from courses where term in('Fall','Winter')"""
         

cursor.execute(sql2)
result=cursor.fetchall()
print (result)

(('Programming', 'Fall'), ('Databases', 'Winter'), ('Vision', 'Fall'), ('BigData', 'Fall'))

In [21]:
#3. Count the number of courses offered in each semester and display them as: [term, #courses].
sql3 = """select term,count(name) from courses group by term"""
         

cursor.execute(sql3)
result=cursor.fetchall()
print (result)

(('Fall', 3), ('Winter', 1), ('Spring', 1))

In [22]:
#4. Count & display the number of instructors
sql4 = """select count(name) as Number_of_instructors from instructors"""   

cursor.execute(sql4)
result=cursor.fetchall()
print (result)

((5,),)

In [23]:
#5. Display the total number of courses.
sql5 = """select count(name) as Total_number_of_courses from courses"""   

cursor.execute(sql5)
result=cursor.fetchall()
print (result)

((5,),)

In [24]:
#6. Count the total number of instructors that are offering course c1 or c2.
sql6 = """select count(iid) as Total_number_of_instructors_for_c1andc2 from coursesInstructors where cid in('c1','c2')"""   

cursor.execute(sql6)
result=cursor.fetchall()
print (result)

((4,),)

In [25]:
#7. Display the names of courses that Jones is offering.
sql7 = """ select name from courses where id in (select cid from coursesInstructors where iid=(select id from instructors where name='Jones')) """   

cursor.execute(sql7)
result=cursor.fetchall()
print (result)

(('Programming',), ('Databases',))

In [26]:
#8. Get all instructors’ names whose name end in “s”.
sql8 = """select name from instructors where name like '%S';"""   

cursor.execute(sql8)
result=cursor.fetchall()
print (result)

(('Jones',), ('Adams',))

In [27]:
#9. Display all course names, which are offered by male instructors.
sql9 = """select name from courses where id in ((select cid from coursesInstructors where iid in (select id from instructors where gender ='M')))"""   


cursor.execute(sql9)
result=cursor.fetchall()
print (result)

(('Programming',), ('Databases',), ('Vision',), ('BigData',))

In [29]:
#10. Update the id4 to id44 in table instructors. What is the result you get. Why?
sql10 = """ update instructors set id='i44' where id='i4'  """   

cursor.execute(sql10)

#IT pritns this because we are trying to update a parent ID key of the table of the database
#IntegrityError: (1451, 'Cannot delete or update a parent row: a foreign key constraint fails (`university`.`coursesInstructors`, CONSTRAINT `coursesInstructors_ibfk_1` FOREIGN KEY (`iid`) REFERENCES `instructors` (`id`))')

InterfaceError: (0, '')

In [30]:
# disconnect from server
db.close()